.feed {
  max-width: 40rem;
  margin: 2rem auto;
  background-color: lightgray;
  border-radius: 1.2rem;
  padding: 1.5rem;
}

.feed > .no-posts {
  text-align: center;
}

.post {
  text-align: center;
  max-width: 35rem;
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  background-color: lightblue;
  box-shadow: 4px 2px 8px darkgray;
}

.post > p {
  margin: 0;
}