.header {
  background-color: black;
  color: whitesmoke;
  top: 0;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.navbar > a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar > a:hover {
  text-decoration: underline;
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  display: flex;
  background-color: black;
  color: whitesmoke;
  justify-content:space-evenly;
  padding: 1rem;
}

.footer > p {
  margin: 0;
}